@import url(modal.css);

html{
	padding: 0;
	margin: 0;
}

.carousel-inner{
    height: 500px;
}


body {
	background: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* Estilos para registro */


.w3-grayscale-min{
	width: 100%;
	height: 100%;
	position: absolute;
}

.form-reg{
	padding-top: 70px; 
	padding-bottom: 10px; 
	padding-left: 10px;
	border-radius: 8px;
}


/* /. Estilos registro ./ */


nav {
	background-color: #CDCDCD;
}

.navbar {
	width: 100%;
	position: fixed;
    z-index: 100;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#user {
	margin-top: 50px;
	border-radius: 50%;
	width: 100px;
    height: 100px;
}

h5 {
	margin-top: 50px;
}

#equipoTrabajo {
	padding-bottom: 50px;
}

.card {
	background-color: white;
}

#redes {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

input[type="radio"] {
  display: none;
}

p #label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

#label:hover,
#label:hover ~ #label {
  color: orange;
}

input[type="radio"]:checked ~ #label {
  color: orange;
}

#imgCarru {
	width: 500px;
	height: 600px;
}

.btn-default{
	background: gray;
}
.btn-default:hover {
	background: #893321;
	color: white;
}

@media screen and (max-width: 1200px){
	iframe{
		width: 500px;
		height: 300px;
	}
}

@media screen and (max-width: 991px){
	iframe{
		width: 547px;
		height: 200px;
	}
	

	.card{
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 800px){
	iframe{
		width: 500px;
		height: 300px;
	}

	.card{
		margin-bottom: 10px;
	}
}