*{box-sizing:border-box;}

.modal-header {
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken(#244a68, 5%);
    background-image: url(../img/fondo.jpg);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    color: white;
    height: 60px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.modal-title {
	margin-top: 0px;
	color: white;
}

#IngresoLog {
	display: block;
	margin-left: auto;
    margin-right: auto;
}