body{
	background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Estilos para Intentarios */
caption{
	display: none;
}

.dataTables_wrapper {
	padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

.tab-content {
	margin-bottom: 30px;
    margin-top: -50px!important;
}

button {
	border-radius: 5px;
    background-color: #e9ecef;
    box-shadow: none;
    border-color: white;
}

/* Estilos para Compras y Ventas */


.btn-default{
    background-color: gray;
    color: white;
}

.input-group-text{
    width: 40px;
}

form {
    padding-bottom: 10px;
    width: 100%;
}

.card {
    border-color: transparent;
}

#botonFormulario {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cardDoble {
    padding-bottom: 20px;
}

/* Inventarios */
